* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  user-select: none;
  -webkit-user-select: none;
  touch-action: none;
}

html, body, #root {
  width: 100%;
  height: 100%;
  overflow: hidden;
  background-color: #030712;
  color: #f8fafc;
  font-family: 'JetBrains Mono', monospace;
  position: relative;
}

/* Custom Tactical Scrollbars / Overflows */
::-webkit-scrollbar {
  display: none;
}

canvas {
  display: block;
  width: 100%;
  height: 100%;
  image-rendering: pixelated;
}
